html, body { font-size: 12px; height: 100%; font-family: Arial, sans-serif; }
body { font-size: 12px; line-height: 1.4; color: #6a747d; }
.clearfix:before, .clearfix:after { display: block; content: ""; height: 0; clear: both; }
*{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 0px;
    font-size: 18px;
    line-height: 20px;
}

.navbar {
    height: 50px;
}

button, input, textarea {
    font: 12px Roboto,arial,sans-serif;
}

.left-pos {
    width: 250px;
    text-align: center;
}

.logo a { width: 100%; }
.logo img { margin: 7px auto; width: 77px; height: 34px; }

.search {
    padding: 13px 0px;
    width: 100%;
}

.search input {
    height: 25px;
    max-width: 650px;
    float: left;
}

.content {
    margin-top: 50px;
}

.sidebar-menu {
    background: none;
    padding: 10px;
}

.sidebar-menu li.active a, 
.sidebar-menu li a:hover, 
.sidebar-menu li.active a:hover, 
.sidebar-menu li a {
    color: #222;
    font-family: Roboto,arial,sans-serif;
    font-size: 13px;
}

.sidebar-menu li a {
    padding: 4px 15px;
}

.sidebar-menu li a:hover, 
.sidebar-menu li.active a:hover {
    background: #686868;
    color: #fff;
}

li a.home {
    background: #fff url('/static/img/home.png') top 0px left 0px no-repeat;
    padding-left: 30px;
}
li a.user {
    background: #fff url('/static/img/user.png') top 0px left 0px no-repeat;
    padding-left: 30px;
}
li a.flame {
    background: #fff url('/static/img/flame.png') top 0px left 0px no-repeat;
    padding-left: 30px;
}
li a.pod {
    background: #fff url('/static/img/pod.png') top 0px left 0px no-repeat;
    padding-left: 30px;
}
li a.clock {
    background: #fff url('/static/img/clock.png') top 0px left 0px no-repeat;
    padding-left: 30px;
}
li a.time {
    background: #fff url('/static/img/time.png') top 0px left 0px no-repeat;
    padding-left: 30px;
}

.line {
    height: 1px;
    background: #ccc;
    width: 100%;
}

.list-video {
    background: #f1f1f1;
}










