html, body { font-size: 12px; height: 100%; font-family: Arial, sans-serif; }
body { font-size: 12px; line-height: 1.4; color: #6a747d; }
.clearfix:before, .clearfix:after { display: block; content: ""; height: 0; clear: both; }
*{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 0px;
    font-size: 18px;
    line-height: 20px;
}

.navbar {
    height: 50px;
}

button, input, textarea {
    font: 12px Roboto,arial,sans-serif;
}

.left-pos {
    width: 250px;
    text-align: center;
}

.logo a { width: 100%; }
.logo img { margin: 7px auto; width: 77px; height: 34px; }

.search {
    padding: 8px 0px;
    width: 100%;
}

.search input {
    height: 25px;
    max-width: 650px;
    float: left;
}

.content {
    margin-top: 50px;
}

.sidebar-menu {
    background: none;
    padding: 10px;
}

.sidebar-menu li.active a, 
.sidebar-menu li a:hover, 
.sidebar-menu li.active a:hover, 
.sidebar-menu li a,
.channel-menu li.active a, 
.channel-menu li a:hover, 
.channel-menu li.active a:hover, 
.channel-menu li a {
    color: #222;
    font-family: Roboto,arial,sans-serif;
    font-size: 13px;
}

.sidebar-menu li a,
.channel-menu li a {
    padding: 4px 15px;
}

.sidebar-menu li a:hover, 
.sidebar-menu li.active a:hover {
    background: #686868;
    color: #fff;
}

.sidebar-menu li a.home {
    background: #fff url('/static/img/home.png') top 0px left 0px no-repeat;
    padding-left: 30px;
}
.sidebar-menu li a.user {
    background: #fff url('/static/img/user.png') top 0px left 0px no-repeat;
    padding-left: 30px;
}
.sidebar-menu li a.flame {
    background: #fff url('/static/img/flame.png') top 0px left 0px no-repeat;
    padding-left: 30px;
}
.sidebar-menu li a.pod {
    background: #fff url('/static/img/pod.png') top 0px left 0px no-repeat;
    padding-left: 30px;
}
.sidebar-menu li a.clock {
    background: #fff url('/static/img/clock.png') top 0px left 0px no-repeat;
    padding-left: 30px;
}
.sidebar-menu li a.time {
    background: #fff url('/static/img/time.png') top 0px left 0px no-repeat;
    padding-left: 30px;
}

.sidebar-menu li.active a, .sidebar-menu li a:hover, .sidebar-menu li.active a:hover, .sidebar-menu li a {
    color: #222;
    font-family: Roboto,arial,sans-serif;
    font-size: 13px;
}

.sidebar-menu li a {
    padding: 4px 15px;
}

.sidebar-menu li a:hover, .sidebar-menu li.active a:hover {
    background: #686868;
    color: #fff;
}

.title-menu {
	padding: 10px;
	color: #cc181e;
	font-weight: 600;
}

.line {
    height: 1px;
    background: #ccc;
    width: 100%;
}

.list-video {
    background: #f1f1f1;
    height: 100vh;
    padding-top: 30px;
    margin-left: 250px;
}
.list-video .text .title {
    font-weight: 700;
}
.list-video ul {
    margin: 0 auto;
}
.list-video ul li.list-group-item {
    position: relative;
    display: table;
    padding: 10px 15px;
    margin-bottom: 0px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    width: 80%;
    margin: 0 auto;
}
.preview {
    float: left;
    padding-right: 10px;
}

.sidebar {
    position: fixed;
    width: 250px;
}

/* SEARCH */
#head-search {
    margin-top: 3px;
    max-width: 650px;
    overflow: hidden;
    padding: 0;
    position: relative;
}

#masthead-search .search-btn-component, #head-search .search-btn-component .start {
    border-left: 0;
    -moz-border-radius-topleft: 0;
    border-top-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-left-radius: 0;
}

#head-search .search-btn-component .yt-button-content {
    border: none;
    display: block;
    opacity: .6;
    padding: 0;
    background-size: auto;
    width: 15px;
    height: 15px;
    box-shadow: none;
}

#yt-head .search-btn-component .yt-button-content {
    margin: 0 25px;
}

#head-search-terms {
    background-color: #fff;
    font-size: 14px;
    height: 29px;
    line-height: 30px;
    margin: 0 0 2px;
    overflow: hidden;
    position: relative;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: border-color .2s ease;
    -webkit-transition: border-color .2s ease;
    transition: border-color .2s ease;
}

.head-search-terms-border {
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 2px #eee;
}

#head-search-terms input {
    background: transparent;
    border: 0;
    display: inline-block;
    font-size: 16px;
    height: 100%;
    left: 0;
    margin: 0;
    outline: none;
    padding: 2px 6px;
    position: absolute;
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.yt-button {
    display: inline-block;
    height: 28px;
    border: solid 1px transparent;
    padding: 0 10px;
    outline: 0;
    font-weight: 500;
    font-size: 11px;
    text-decoration: none;
    white-space: nowrap;
    word-wrap: normal;
    line-height: normal;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.05);
}

.channel-menu {
    background: none;
    padding: 10px;
}

.channel-menu li a.channel {
	background: #fff url('/static/img/channel.png') top 3px left 0px no-repeat;
    padding-left: 30px;
}
